*{box-sizing: border-box;}

@import url(https://fonts.googleapis.com/css2?family=News+Cycle&display=swap);

section{
  height: 500px;
  background-color: lightskyblue;
  border: solid black 1px;
}

.aboutme{
  background-color: antiquewhite;
  height: 100vh;
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
}

footer{
  height: 500px;
  background-color: aquamarine;
}

nav{
  display: flex;
  justify-content: space-between;
} 

ul{
  display: flex;
}



